
body 
    font-family: 'Roboto', sans-serif
    background-color: #222
    color: #f5edf5
.win 
    width: 80%
    margin: auto
    text-align: center
    .win-massage
        text-align: center
        background-color: #48036F
        border-radius: 0.25rem
        border: 1px solid #5F2580
        margin-bottom: 10px
.container
    width: 80%
    margin: auto
    display: grid
    grid-template-rows: auto
    grid-template-columns: 1fr 1fr
    grid-template-areas: 'header header' 'question question' 'list card' 'btn btn'
    grid-gap: 10px
    @media (max-width: 500px)
        grid-template-areas: 'header header' 'question question' 'list list' 'card card' 'btn btn'
img 
    min-width: 200px
    max-width: 200px
    height: 180px
    border-radius: 0.25rem
    border: 1px solid #5F2580

.btn
    background-color: #9F3ED5
    border: 1px solid #9F3ED5
    border-radius: 0.25rem
    padding: 5px
    grid-area: btn
    border: 1px solid #5F2580
    text-align: center
    cursor: pointer
.disable
    background-color: #5F2580 !important
    color: grey
    
.win-image
    width: 60% !important
    height: 60% !important
    max-width: none !important
    max-height: none !important
    margin: 10px auto
    display: flex