.header 
    ul
        flex-wrap: wrap
        padding: 0
        margin-bottom: 25px
        border-radius: 5px
        overflow: hidden
        display: flex
        justify-content: space-between
        li
            flex: auto
            display: inline
            text-align: center
            a 
                background-color: #008966
                position: relative
                display: block
                padding: 0.5rem 0.75rem
                margin-left: 0
                line-height: 1.25
            .active
                background-color: #00bc8c
