.question
    padding: 5px
    background: #5F2580
    grid-area: question
    border: 1px solid #5F2580
    border-radius: 0.25rem
    img 
        width: 200px
        height: 180px
        border-radius: 0.25rem
        border: 1px solid #5F2580